/** @format */

.container {
  width: 500px;
  height: 800px;
}

form {
  padding: 20px;
}

label {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  padding: 20px;
}

button {
  margin: 20px;
  padding: 5px;
}

input {
  padding: 5px;
  margin: 10px;
}

#user_id {
  margin: 30px;
}
